@import url('https://fonts.googleapis.com/css?family=Courgette&display=swap');

.name-container {
    height: 100%;
    width: 100%;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

h1.homeHeading {
    font-family: 'Courgette', cursive;
    color: white;
    font-size: 64px;
}

h2.homeTitle {
    font-family: 'Courgette', cursive;
    color: white;
    font-size: 32px;
}