@import url('https://fonts.googleapis.com/css?family=Sulphur+Point&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

$ambgColour: #242424; 
$contact-bg: #181818;

.home-component
{
    min-height: 100vh;
    max-width: 100vw;
}

.component {
    margin:0;
    padding:0;
    display: flex;
}

.about-me-component {
    background-color: $ambgColour;
}

.contact-me-component {
    background-color: $contact-bg;
}

.projects-component {
    background-color: black;
}