@import url('https://fonts.googleapis.com/css?family=Sulphur+Point&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

$aboutMeBGColour: #242424; 

.home-component
{
    min-height: 100vh;
    max-width: 100vw;
}
.about-me-component {
    background-color: $aboutMeBGColour;
}

.projects-component {
    background-color: #0d0d0d;
    min-height: 93vh;
}