@import url('https://fonts.googleapis.com/css?family=Sulphur+Point&display=swap');

.home-component
{
    min-height: 100vh;
    max-width: 100vw;
}

.component {
    margin:0;
    padding:0;
    display: flex;
}