$amMarginVal: 3% 10% 2% 10%;
$project-bg: #2F2F2F;
$brandingGreen: #4DB33D;
$sulpherP: 'Sulphur Point', sans-serif;

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 5vh;
}

#projects-header {
    text-align: center;
    color: white;
    font-size: 28pt;
    font-family: $sulpherP;
    padding: 3% 0 3% 0;
}

.single-project-component
{
    background-color: $project-bg;
    min-height: 65vh;
    min-width: 400px;
    max-width: 400px;
    flex:1;
    flex-wrap: wrap;
    margin: 0 0.2vw 0.6vh 0.2vw;

    &:hover {
        background-color: $brandingGreen;
        transition-duration: 0.3s;
    }
}

.logo-container {
    text-align: center;
    padding-top: 20px;
}

.project-title {
    text-align: center;
    color: white;
    font-size: 28pt;
    font-family: $sulpherP;
    padding: 5% 0 5% 0;
}

.project-description {
    margin: 0 10% 10% 10%;
    color: white;
    font-size: 14pt;
    font-family: $sulpherP;
}

.project-icon {
    height: 100px;
    width: 100px;
}

.technology-icon {
    height: 50px;
    width: 50px;
}