$amMarginVal: 2% 10% 2% 10%;

$project-bg: #2F2F2F;
$brandingGreen: #4DB33D;

.projects-component {
    background-image: url('/images/city-1209105_1920.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.projects-heading {
    border-bottom-color: #4DB33D;
    margin: $amMarginVal;
    color: white;
}

.projects-body {
    
}

#projects-header {
    text-align: center;
    color: white;
    font-size: 28pt;
    font-family: 'Sulphur Point', sans-serif;
    padding: 3% 0 3% 0;
}

.single-project-component
{
    background-color: $project-bg;
    height: 50vh;
    margin-bottom: 10vh;

    &:hover {
        background-color: $brandingGreen;
        transition-duration: 0.3s;
    }
}

.logo-container {
    text-align: center;
}

.project-title {
    text-align: center;
    color: white;
    font-size: 28pt;
    font-family: 'Sulphur Point', sans-serif;
    padding: 5% 0 5% 0;
}

.project-description {
    margin: 0 10% 10% 10%;
    color: white;
    font-size: 14pt;
    font-family: 'Sulphur Point', sans-serif;
}