$componentHeight: 100vh;

.home-component
{
    min-height: 100vh;
    max-width: 100vw;
    background-image: url('/images/landscape-4637538_1920.jpg');
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
}