$navColour: #333333; 
$navHeight: 20vh;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.nav-top {
    display: flex;
    position: absolute;
    justify-content: space-between;
    width: 100%;
    padding-top: 2%;
}

// This is the nav used when user scrolls up from anywhere below the top of the screen.
.nav-scrolled {
    transition-duration: 0.5s;
    background-color: $navColour;
    position: fixed;
    display: flex;
    top: 0;
    width: 100%;
    padding: 1% 0 1% 0;
}

.container-selected {
    background-color: white;
    border-radius: 5px;
}

.links-container {
    flex:1;
    display: flex;
    justify-content: space-between;
}

.nav-container {
    
}

.image-container {
    flex:1;
}

ul {
    a {
        text-decoration: none;
        color: white;
    }
    a:hover{
        color: rgb(30, 31, 30);
        transition-duration: 0.2s
    }
}
