.nav-initial {
    display: flexbox;
    height: 20vh;
    background-color: blue;
}

.nav-transparent {
    display: fixed;
    top: 0;
    height: 20vh;
    width: 100vh;
    background-color: green;
}

.nav-invisible {
    display: none;
}