$ambgColour: white; 
$amMarginVal: 2% 10% 2% 10%;

.about-me-component {
    background-color: $ambgColour;
}

.amHeading {
    border-bottom: 2px;
    border-bottom-style: solid;
    border-bottom-color: #4DB33D;
    padding-bottom: 2vh;
    margin: $amMarginVal;
}

.amBody {
    margin: $amMarginVal;
}

